

div{
  border: 0px solid green;
}

body{
  /*cursor:none;*/
  /*cursor: url("./scope.png"), pointer;*/
  margin: 0px;
  overflow: hidden;
}
/*
.view{
  width:1200px;
  height:400px;
  position: absolute;
  border:3px solid red;
  overflow: hidden;
}
/*
.view .scroll{
  width: 10000px;
  height: 310px;
  background-color: green;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
*/
/*
.scroll{
  /*visibility: hidden;
  width: 1200px;
  height: 300px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

}

.scroll div{
  display: inline-block;

  width: 400px;
  height: 300px;
  background-color: yellow;
}
*/


#filter{
  z-index: 5;
  position: absolute;
  visibility: hidden;
  background-color: black;
  opacity: 0.5;
}


.uibutton{
  z-index: 6;
  position: absolute;

  width: 100px;
  height: 100px ;

  border: 3px solid green;
  background-color: #FF6CC4;
  border-radius: 100px;
}


#tabmenu{
  z-index: 7;
  position: absolute;
  background-color: #D697FF;
}

#scroll{
  overflow-y: scroll;
  overflow-x: hidden;
}

#scroll div{
  margin-top: 0px;
  background-color: #6B4C7F;
}

#scroll div div{
  margin-top: 100px;
  display: inline-block;
  background-color: #FF5C30;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}


#userscreen{
  position: absolute;
  top: 0px;
  left: 0px;
}

canvas{
  border: 5px solid black;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
}

#buffer{
  z-index: 4;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
}

#scene1{
  visibility: hidden;
  transform-origin: 0 0;
  transform: scale(1.0);
}
#scene2{
  visibility: visible;
  transform-origin: 0 0;
  transform: scale(1.0);
}
